{{#extend "administration/administration"}}
    {{#content "page"}}
        <div class="route-administration">
            <section class="section-school section-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/notification"}}

                            {{> "lib/components/table" head=head body=body}}
                        </div>
                    </div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <button type="submit" class="btn btn-primary btn-add">
                                Kurs hinzufügen
                            </button>
                        </div>
                    </div>
                </div>

                {{#embed "lib/components/modal" action="/administration/courses/" method="post" class="edit-modal"}}
                    {{#content "fields"}}
                        <input name="_id" type="hidden" />

                        <input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

                        <div class="form-group">
                            <label>Name des Kurses</label>
                            <input class="form-control" name="name" type="text" placeholder="10a" required />
                        </div>

                        <div class="form-group">
                            <label>Unterrichtender Lehrer</label>

                            <select name="teacherIds" required multiple data-placeholder="Lehrer auswählen">
                                {{#each teachers}}
                                    <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.lastName}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Klasse(n)</label>

                            <select name="classIds" required multiple data-placeholder="Klasse(n) auswählen">
                                {{#each classes}}
                                    <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{/content}}
                {{/embed}}
            </section>
        </div>
    {{/content}}
{{/extend}}